[Unit]
Description=Send requests to customers.rai.ir
After=network.target

[Service]
User=localadmin
WorkingDirectory=/home/localadmin/repository/rai_ir
ExecStart=python3 rai_ir.py

[Install]
WantedBy=multi-user.target
