[Unit]
Description=Send requests to customers.rai.ir
After=syslog.target network.target

[Service]
Type=simple
User=localadmin
WorkingDirectory=/home/localadmin/repository/rai_ir
ExecStart=python3.8 /home/localadmin/repository/rai_ir/rai_ir.py
Restart=always

[Install]
WantedBy=multi-user.target
